<h3 class="text-left my-3">
Anunciar</h3>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <form [formGroup]="form" class="row">
        <div class="d-flex justify-content-center mt-3">
          <h4 class="text-left mt-3">
            Agora informe algumas características do seu produto
          </h4>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <div
            class="alert alert-secondary col-lg-8 col-sm-2 mx-auto"
            role="alert"
          >
            Os itens com (*) são obrigatórios
          </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <div
            input-file
            [maxFiles]="4"
            class="col-8"
            [id]="'fotoPerfil'"
            [label]="'Fotos do item'"
            [files]="fotos"
            (filesChange)="filesChange($event)"
          ></div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <div
            input-text
            class="olx-text col-8"
            [formControlName]="'titulo'"
            [label]="'Título'"
            [id]="'titulo'"
            [placeholder]="'Informe o título...'"
          ></div>
        </div>

        <div class="d-flex justify-content-center">
          <div
            class="mt-3"
            input-select-option
            [formControlName]="'categoriaId'"
            [label]="'Categoria'"
            [id]="'categoria'"
            [bindLabel]="'descricao'"
            [bindValue]="'id'"
            [items]="categorias"
            [placeholder]="'Informe a categoria...'"
            [columnSize]="8"
          ></div>
        </div>

        <div class="d-flex justify-content-center">
          <div
            class="mt-3"
            input-text
            [formControlName]="'preco'"
            [label]="'Preço'"
            [id]="'preco'"
            [type]="'number'"
            [icon]="'dollar'"
            [iconPosition]="'left'"
          ></div>         
        </div>

        <div class="d-flex justify-content-center">
          <div
            class="mt-3"
            input-text
            [formControlName]="'descricao'"
            [label]="'Descrição'"
            [id]="'descricao'"
            [placeholder]="'Informe a descricao...'"
            [textArea]="true"
          ></div>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <div class="d-flex justify-content-between col-8 text-center">
            <button
              class="btn btn-sm btn-secondary col-3"
              [disabled]="form.invalid"
              routerLink="/"
            >
              Voltar
            </button>
            <button
              class="btn btn-sm btn-success col-3"
              [disabled]="form.invalid" (click)="salvar()"
            >
              Salvar
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="d-flex justify-content-center ">
      <div class="d-flex justify-content-between col-7 text-center">
        <button class="btn btn-sm btn-secondary mt-3" [disabled]="form.invalid">
          Voltar
        </button>
        <button class="btn btn-sm btn-success mt-3" [disabled]="form.invalid">
          Salvar
        </button>
      </div>
    </div> -->
  </div>
</div>
