<form [formGroup]="form" class="row">
  <div
    input-text
    [formControlName]="'nome'"
    [label]="'Nome'"
    [id]="'nome'"
    [placeholder]="'Informe o nome...'"
  ></div>
  <div
    input-select-option
    [formControlName]="'genero'"
    [label]="'Genero'"
    [id]="'genero'"
    [items]="generos"
    [placeholder]="'Selecione o genero...'"
  ></div>
  <div
    input-date-picker
    [formControlName]="'dataNascimento'"
    [label]="'Data de Nascimento'"
    [id]="'dataNascimento'"
  ></div>
  <div input-checkbox [formControlName]="'vigente'" [label]="'Vigente'"></div>
</form>
