<div class="container col-10 shadow p-3 mb-5 bg-white rounded">
  <form [formGroup]="form" class="d-flex flex-column align-items-center">
    <div
      input-text
      [columnSize]="10"
      [formControlName]="'nome'"
      [label]="'Nome'"
      [id]="'nome'"
      [placeholder]="'Informe o nome...'"
    ></div>
    <div
      input-text
      [columnSize]="10"
      [formControlName]="'email'"
      [label]="'Email'"
      [id]="'email-register'"
      [placeholder]="'Informe o Email...'"
    ></div>
    <div
      input-date-picker
      [columnSize]="10"
      [formControlName]="'dataNascimento'"
      [label]="'Data de Nascimento'"
      [id]="'dataNascimento'"
    ></div>
    <div
      input-text
      [type]="'password'"
      [columnSize]="10"
      [formControlName]="'senha'"
      [label]="'Senha'"
      [id]="'senha-register'"
      [placeholder]="'Digite sua senha...'"
    ></div>
    <div
      input-text
      [type]="'password'"
      [columnSize]="10"
      [formControlName]="'confirmaSenha'"
      [label]="'Confirmar senha'"
      [id]="'confirmaSenha'"
      [placeholder]="'Digite sua senha novamente...'"
    ></div>
    <button class="btn btn-sm btn-primary mt-3" [disabled]="form.invalid"   (click)="cadastrar()">
      Cadastrar
    </button>
  </form>
</div>
