<div class="container col-10 mt-5 shadow p-3 mb-5 bg-white rounded">
  <!-- <h2 class="text-center">Formulário de Login</h2> -->
  <form [formGroup]="form" class="d-flex flex-column align-items-center">
    <div input-text [columnSize]="8" [formControlName]="'email'" [label]="'Email'" [id]="'email'"
      [placeholder]="'Informe o Email...'"></div>
    <div input-text [type]="'password'" [columnSize]="8" [formControlName]="'senha'" [label]="'Senha'" [id]="'senha'"
      [placeholder]="'Digite sua senha...'"></div>
    <!-- [disabled]="form.invalid" -->
    <button class="btn btn-sm btn-primary mt-3" (click)="login()">
      Cadastrar
    </button>
  </form>
</div>