.container-fluid {
  min-height: 100%;
}

@media (min-width: 768px) {
  .container-fluid {
    padding: 1rem;
  }
}

@media (max-width: 775px) {
  .nav {
    flex-direction: row;
    .nav-item {
      display: flex;
      justify-content: center;
      width: 100%;
      .nav-link {
        width: 100%;
        text-align: center;
        margin-bottom: 0rem;
      }
    }
  }

  .nav a {
    padding: 0.5rem 1rem;
  }
}

.nav-link {
  color: #263238 !important;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.nav-link.active {
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  color: #263238 !important;
}

.tab-content {
  margin-top: 1rem !important;
}
