.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .carousel-inner img {
    height: 400px; /* Ajuste a altura conforme necessário */
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: 1.5rem;
  }

  .btn-primary {
    background-color: #6e0ad6;;
    border-color: #6e0ad6;;
  }
  
  .btn-primary:hover {
    background-color: #6e0ad6;
    border-color: #6e0ad6;;
  }
  
  .text-custom-color {
    color: #6e0ad6;
  }

  .label-descricao{
    color: #000000; 
    background-color: #e5e2e7; 
    border-radius: 10%; 
    font-size: 15px;
  }

  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .card-body.p-0 {
    padding: 0 !important;
  }
  .carousel-container {
    height: 40vh;
    margin: 16px auto;
}
  
  .card-body hr {
    margin: 1rem 0;
  }
  
  :host ::ng-deep{
    .image-container {
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .igx-carousel {
        max-width: 100%;
        width: unset;
    }

    .igx-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
    }

    .igx-slide img {
        object-fit: fill;
        max-width: 90%;
    }
}

// CSS para o ícone de coração quando favorito
.favorite-icon {
  color: #6e0ad6; // Cor roxa
  font-size: 50px;
}

// CSS para o ícone de coração quando não favorito
.favorite-border-icon {
  color: #6e0ad6; // Cor padrão do ícone (preto, por exemplo)
  font-size: 50px;
}

  